- if content.kind_of?(Hash)
  %div{ class: content["class"], id: content.id }
    - if content.has_key?("data")
      = partial "layouts/data", locals: { content: content.data }
    - else
      = partial "layouts/#{content.layout || "default"}", locals: { content: content }

- elsif content.kind_of?(Array)
  %div.row
    - @width = 12 / content.count
    - content.each do |item|
      - if item.kind_of?(Hash)
        - if item.has_key?("class")
          - item["class"] = "#{item["class"]} col-sm-#{item.width || @width}"
        - else
          - item["class"] = "col-sm-#{item.width || @width}"
      = partial "layouts/display", locals: { content: item }

- else
  = partial "layouts/default", locals: { content: content }
