%div.feature{ id: content.id }
  = stylesheet_link_tag "feature"
  - if content.has_key?("icon") || content.has_key?("heading") || content.has_key?("subheading")
    %div.feature-header
      = partial "layouts/heading", locals: { content: content }
  %div.feature-body
    - if content.has_key?("desc")
      - content.desc.each do |desc|
        - if desc.kind_of?(String)
          - if desc == ""
            %p.temp= lorem.paragraph
          - else
            %p= desc

        - elsif desc.kind_of?(Hash)
          = partial "layouts/loader", locals: { content: desc }


        - elsif desc.kind_of?(Array)
          - @columns = content.columns || 1
          - @width = 12 / @columns
          - @bullets = content.bullets || "octicon octicon-check"
          - @rows = desc.count / @columns
          - if desc.count % @columns > 0
            - @rows += 1
          - @index = 0
          %div.row.checklist
            - @columns.times do
              %div{ class: "col-md-#{@width}" }
                %ul.list-unstyled
                  - desc[@index,@rows].each do |item|
                    %li
                      %span.icon{ class: "#{@bullets}" }
                      %span= item
                  - @index += @rows
